.header-main{
    padding-left: 6%;
    padding-right:6%;
    transition: 0.2s ease-in-out;
}
#navbarBtn{
    color: #fdfcfa;
    border-color: #fdfcfa;
}
/* 
#navbarBtn:hover{
    color: #0c8ce9;
    background-color: #fdfcfa;

} */
